@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #b0b9e7;
}

#header img{
  width: 200px;
  height: 240px;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: rgba(79, 79, 83, 0.687);
}

#header p{
  color: white;
  font-size: 40px;
  font-weight: 500;
}

.social-links a{
  background: rgb(76, 70, 120);
  color: white;
  border-radius: 50%;
}

.social-links i:hover{
  background: white;
}

.nav-link{
  display: block;
  text-align: center;
  background: rgba(217, 224, 248, 0.456);
  border-radius: 20px;
  width: 270px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 6px;
}
.nav-link:hover{
  background: lightgray;
}

#header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 330px;
  background: #01123b;
}

.navbar-toggler{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 30px;
  background: rgb(50, 52, 88);
  cursor: pointer;
  font-size: 10px;
  transition: all 0.4s;
  display: none;
  line-height: 1;
  text-align: center;
  z-index: 992;
}

#main{
  margin-left: 350px;
}

#home{
  flex-flow: column;
  margin-top: 220px;
  margin-bottom: 225px;
}

#home h2{
  font-size: 50px;
  color: rgb(19, 17, 90);
}

#home h1{
  font-size: 100px;
  color: rgb(19, 17, 90);
}

#about{
  align-items: center;
  margin-bottom: 200px;
  padding-top:100px;
}

.container h1{
  text-align: center;
  font-size: 50px;
  color: rgb(19, 17, 90);
  padding-bottom: 30px;
}

.info li{
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(20, 15, 47);
}

.description{
  font-size: 20px;
  color: rgb(18, 30, 68);
}

#experience{
  margin-bottom: 120px;
  padding-top: 60px;
}

.card{
  height: 380px;
  width: 350px;
  margin-bottom: 60px;
  margin-top: 60px;
  background-color: transparent;
  border: none;
}

.card img{
  height: 90%;
}

.details{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  width: 389px;
}
.form-style-6{
  font: normal;
  max-width: 735px;
  margin: -21px auto;
  padding: 48px;
  margin-top: -57px;
}

.form-style-6 input[type="text"], .form-style-6 input[type="date"], .form-style-6 input[type="datetime"], .form-style-6 input[type="email"], .form-style-6 input[type="number"], .form-style-6 input[type="search"], .form-style-6 input[type="time"], .form-style-6 input[type="url"], .form-style-6 textarea, .form-style-6 select {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: rgb(16, 23, 157);
  font: 95% Arial, Helvetica, sans-serif;
}

.form-style-6 input[type="text"]:focus, .form-style-6 input[type="date"]:focus, .form-style-6 input[type="datetime"]:focus, .form-style-6 input[type="email"]:focus, .form-style-6 input[type="number"]:focus, .form-style-6 input[type="search"]:focus, .form-style-6 input[type="time"]:focus, .form-style-6 input[type="url"]:focus, .form-style-6 textarea:focus, .form-style-6 select:focus {
  box-shadow: 0 0 5px #0b0564;
  padding: 3%;
  border: 1px solid;
} 

.form-style-6 input[type="submit"], .form-style-6 input[type="button"]{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #3b2df7;
  border-bottom: 2px solid #0d0576d0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;	
  color: #fff;
}
.form-style-6 input[type="submit"]:hover, .form-style-6 input[type="button"]:hover{
  background: #262354d0;
}



@media (max-width:1200px){
  body{
    margin-left: -300px;
  }
  html{
      font-size: 55%;
      align-items: center;
  }
  #header{
    left: -330px;
  }
  .navbar-toggler{
    display: block;
  }
}

@media (max-width:768px){
  html{
      font-size: 50%;
  }
  
}

@media (max-width:400px){
  .info{
      width: 100%;
  }
  .experience .container .row{
      width:100%;
  }
  header{
      width: 100vw
  }
}
